<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">STOCKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Register </a>
                </li>

            </ul>
        </div>
    </nav>
</section>
<div class="container">
    <section>
        <div class="container-fluid">
            <div class="row justify-content-md-center m-4 animated fadeIn">
                <div class="col-xl-9">
                    <div class="card text-black bg-light mb-3" style="max-width: 75rem;">
                        <div class="card-body">
                            <form ngNativeValidate ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" id="loginform">
                                <h3 class="box-title m-t-40 m-b-0 text-center">Registrarse en Stocker APP</h3>
                                <hr>
                                <div class="form-group m-t-20">
                                    <div class="col-xs-12">
                                        <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Ingrese su Nombre ">
                                    </div>
                                </div>
                                <div class="form-group m-t-20">
                                    <div class="col-xs-12">
                                        <input formControlName="apellido" name="apellido" class="form-control" type="text" required placeholder="Ingrese su Apellido ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="email" name="email" class="form-control" type="email" required placeholder="Ingrese su Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="empresa" name="empresa" class="form-control" type="text " required placeholder="Ingrese el nombre de su Empresa">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="password" name="password" class="form-control" type="password" placeholder="Ingrese su Contraseña">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="password2" name="password2" class="form-control" type="password" placeholder="Confirmar Contraseña">
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                                    <div class="alert alert-danger" role="alert">
                                        <p class="text-danger">

                                            Las contraseñas deben ser iguales.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="telefono" name="telefono" class="form-control" type="text" required placeholder="Ingrese su Telefono">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="dni" name="DNI" class="form-control" type="text" required placeholder="Ingrese su DNI">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="cuit" name="cuit" class="form-control" type="text" required placeholder="Ingrese su CUIT">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input formControlName="direccion" name="direccion" class="form-control" type="text" required placeholder="Ingrese su Direccion">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="checkbox checkbox-primary p-t-0">
                                            <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
                                            <label class="form-check-label m-2"> Estoy de acuerdo con los <a
                                                    href="# ">Términos</a></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-20">
                                    <div class="col-xs-12">
                                        <button class="btn btn-primary btn-lg btn-group text-uppercase waves-effect waves-light" type="submit">Registrarme </button>
                                    </div>
                                </div>
                                <div class="form-group m-b-0">
                                    <div class="col-sm-12 text-center">
                                        <p>Ya tenes una cuenta ? <a routerLink='/login' class="text-info m-l-5"><b>Ingresa Ahora</b></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>