<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">STOCKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-label="Third group">
                    <img [src]="_usuarioService.usuario.img | imagen: 'usuarios'" width="35" height="35"
                        class="d-inline-block align-top" alt="">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">{{_usuarioService.usuario.email}}</a>
                    <a class="dropdown-item" href="/profile">Ver Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/login" (click)="eliminarStorage()">Salir</a>
                </div>
            </div>
        </div>
    </nav>
</section>
<section>
    <div class="row m-2">
        <div class="col-md-12 py-4">
            <div class="row animated fadeIn">
                <div class="col-12">
                    <div class="card">
                        <div class="card-title">
                            <h3 class="text-center mt-2 subtitulo"> Gestion de Clientes </h3>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <h5 class="text-center mt-2 subtitulo">Clientes Registrados (<small>{{totalRegistros}}</small>)</h5>
                            </div>
                            <div class="col text-center">
                                <input #input (keyup)="buscarCliente(input.value)" type="text" class="form-control mt-4" placeholder="Buscar Cliente...">
                                <button *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' " routerLink="/clientes/cargarcliente" class="btn btn-dark btn-small align-center buttoncontent mt-2">
                                            <fa-icon [icon]="faPlus"></fa-icon>
                                            Registrar nuevo Cliente
                                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-bordered">
                <table class="table table-dark table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Dirección</th>
                            <th>Cuit</th>
                            <th class="text">Modificado por</th>
                            <th *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' ">Estado</th>
                            <th *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' ">Ver Pedidos</th>
                            <th *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' " class="text">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td class="w-100">
                                <img class="table-avatar" [src]="cliente.img | imagen: 'clientes'">
                            </td>
                            <td class="text">
                                {{cliente.nombre}}
                            </td>
                            <td class="text">
                                {{cliente.apellido}}
                            </td>
                            <td class="text">
                                {{cliente.email}}
                            </td>
                            <td class="text">
                                {{cliente.direccion}}
                            </td>
                            <td class="text">
                                {{cliente.cuit}}
                            </td>
                            <td class="text text-center">
                                {{cliente.usuario.email}}
                            </td>
                            <td class="w200" *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' ">
                                <select [(ngModel)]="cliente.estado" name="role" class="form-control w140" (change)="cambiarEstado(cliente)">
                                          <option value="ACTIVO">ACTIVO</option>
                                          <option value="INACTIVO">INACTIVO</option>
                                      </select>
                            </td>

                            <td class="text text-center" *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' || this._usuarioService.usuario.role == 'DEPOSIT_ROLE'">
                                <div class="col text">
                                    <a class="btn btn-outline-primary " (click)="compruebaPedido(token,cliente)">Ver Pedidos</a>
                                </div>
                            </td>

                            <td class="text" *ngIf="this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE' ">
                                <div class="col text-center">
                                    <button *ngIf="(this._usuarioService.usuario.role == 'ADMIN_ROLE' || this._usuarioService.usuario.role == 'SALES_ROLE') && (cliente.estado == 'ACTIVO')" (click)="guardarStorage(token,cliente)" routerLink="/cliente/actualizarcliente" class="btn btn-success">
                                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                                            </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
