<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">STOCKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-label="Third group">
                    <img [src]="_usuarioService.usuario.img | imagen: 'usuarios'" width="35" height="35"
                        class="d-inline-block align-top" alt="">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">{{_usuarioService.usuario.email}}</a>
                    <a class="dropdown-item" href="/profile">Ver Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/login" (click)="eliminarStorage()">Salir</a>
                </div>
            </div>
        </div>
    </nav>
</section>
<br><br>
<div class="container">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form ngNativeValidate ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarPedido()" id="loginform">

                        <h3 class="box-title m-t-40 m-b-0 text-center subtitulo">Registrar un nuevo Pedido</h3>
                        <hr>

                        <select formControlName="cliente" class="form-control" required> 
                        <option value="">Seleccione Cliente</option>
                        <option class="form-control"  *ngFor="let cliente of clientes"  [value]="cliente._id">
                            <ng-template [ngIf]="cliente.estado != 'INACTIVO'">
                            {{cliente.nombre}}
                        </ng-template>
                        </option>
                    </select>
                        <br>
                        <select formControlName="producto" class="form-control" (change)="muestraPrecio($event.target.value)"> 
                        <option value="">Seleccione Producto</option>
                        <option class="form-control"  *ngFor="let producto of productos"  [value]="producto._id">
                            <ng-template [ngIf]="producto.estado != 'INACTIVO'">
                            {{producto.nombre}}
                        </ng-template>
                        </option>
                    </select>

                        <br>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label name="precio" class="form-control" type="text" placeholder="$ Precio">
                                $ {{precio}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="cantidad" name="cantidad" class="form-control" type="number" (change)="muestraTotal($event.target.value)" required placeholder="Cantidad">
                            </div>
                        </div>

                        <div class="form-group">
                            <h6>Total</h6>
                            <div class="col-xs-12">
                                <label name="precio" class="form-control" type="text"> 
                                $  {{total}}</label>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-20 mt-5">
                            <div class="col-xs-12">
                                <button class="btn btn-dark btn-lg btn-group text-uppercase waves-effect waves-light" type="submit">Registar Pedido </button>
                                <button type="submit" routerLink="/pedidos" class="btn btn-dark btn-lg btn-group text-uppercase waves-effect waves-light m-2">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>