<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">STOCKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/dashboard">Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-label="Third group">
                    <img [src]="_usuarioService.usuario.img | imagen: 'usuarios'" width="35" height="35"
                        class="d-inline-block align-top" alt="">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">{{_usuarioService.usuario.email}}</a>
                    <a class="dropdown-item" href="/profile">Ver Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/login" (click)="eliminarStorage()">Salir</a>
                </div>
            </div>
        </div>
    </nav>
</section>
<br><br>
<div class="container">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form ngNativeValidate ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarProveedor()" id="loginform">
                        <h3 class="box-title m-t-40 m-b-0 text-center subtitulo">Registrar un nuevo Proveedor</h3>
                        <hr>
                        <div class="form-group m-t-20">
                            <div class="col-xs-12">
                                <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Ingrese su Nombre ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="direccion" name="direccion" class="form-control" type="text" required placeholder="Direccion">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="email" name="email" class="form-control" type="email" required placeholder="Ingrese su Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="cuit" name="cuit" class="form-control" type="text" required placeholder="Ingrese su CUIT">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="telefono" name="telefono" class="form-control" type="text" required placeholder="Telefono">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="situacion_afip" name="situacion_afip" class="form-control" type="text" required placeholder="Situacion Afip">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-dark btn-lg btn-group text-uppercase waves-effect waves-light" type="submit">Registar Proveedor </button>
                                <button type="submit" routerLink="/proveedores" class="btn btn-dark btn-lg btn-group text-uppercase waves-effect waves-light m-2">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>