<!-- <section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">STOCKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-label="Third group">
                    <img [src]="this.usuario.img | imagen: 'usuarios'" width="35" height="35"
                        class="d-inline-block align-top" alt="">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">{{this.usuario.email}}</a>
                    <a class="dropdown-item" href="/profile">Ver Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/login" (click)="eliminarStorage()">Salir</a>
                </div> -->
<!-- </div> 
</div>
</nav>
</section> -->

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title subtitulo text-center">Actualizar Usuario</h4>
                    <hr>
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20 mt-2s">
                        <div class="form-group mt-2">
                            <label for="exampleInputuname">Nombre</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputApellido">Apellido</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [ngModel]="usuario.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [ngModel]="usuario.email" name="email" type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmpresa">Empresa</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [ngModel]="usuario.empresa" name="empresa" type="text" class="form-control" placeholder="Empresa">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputDireccion">Direccion</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [ngModel]="usuario.direccion" name="direccion" type="text" class="form-control" placeholder="Direccion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputDNI">DNI</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [ngModel]="usuario.dni" name="dni" type="text" class="form-control" placeholder="DNI">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputCuit">CUIT</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [ngModel]="usuario.cuit" name="cuit" type="text" class="form-control" placeholder="CUIT">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark waves-effect waves-light m-r-10">Guardar</button>
                        <button type="submit" routerLink="/usuarios" class="btn btn-dark waves-effect waves-light m-2">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        <h4 class="card-title">Avatar</h4>
                        <h6 class="card-subtitle">Imagen del usuario</h6>
                        <div class="text-center">
                            <img *ngIf="!imagenTemp" [src]="usuario.imagenUrls" class="avatar">
                            <img *ngIf="imagenTemp" [src]="imagenTemp" class="img-avatar">
                        </div>
                        <input type="file" (change)="cambiarImagen($event.target.files[0])">
                        <br>
                        <br>
                        <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="!imagenSubir" (click)="subirImagen()">
                            <i class="fa fa-save"></i> Cambiar imagen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>